Source: show-lost
Maintainer: khaleghi <xaleghi@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: show-lost
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iputils-ping, bash, grep, hping3, coreutils
Description: A command-line tool to show network packet lost.
